version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend/tasks.json:/app/data/tasks.json
      - ./backend/users.json:/app/data/users.json
    networks:
      - app-network

  frontend:
    build: .
    ports:
      - "4173:4173"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge